# Auto detect text files and perform LF normalization
* text=auto

# Ensure these files always have LF line endings on checkout
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf

# Ensure these are always treated as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.apk binary
*.aab binary
*.jar binary
